---
title: Sinra - Gestion de projet réinventée
layout: page
permalink: fr/index
lang: fr
page_id: index
---
<section class="hero">
  <div class="text-container">
    <h1>{{ site.data[site.active_lang].strings.hero.title }}</h1>
    <p class="subtext">{{ site.data[site.active_lang].strings.hero.body }}</p>
    <div class="cta button alt"><a href="https://app.sinra.dev/users/sign_up">{{ site.data[site.active_lang].strings.hero.button }}</a></div>
    <div>
      <img src="assets/images/sinra-overview.png" alt="{{ site.data[site.active_lang].strings.hero.alt_image }}" class="screenshot" />
    </div>
  </div>
</section>

<div class="content">

  {% for section in site.data.index_sections %}
    <section>
      <div class="container flex">
        <div class="text">
        <h2>{{ section.title }}</h2>
        <p></p>{{ section.body }}</p>
        </div>
        <div class="image">
          <img src="{{ section.image }}" alt="{{ section.alt }}" class="screenshot"  />
        </div>
      </div>
    </section>
  {% endfor %}

<section class="features">
  <h2>Fonctionnalités</h2>
  <div class="container grid">
     {% for feature in site.data[page.lang].index_features %}
      <div class="feature">
        <h3>{{ feature.title }}</h3>
          <img src="{{ feature.image }}" alt="{{ feature.alt }}">
        <p>{{ feature.body }}</p>
      </div>
     {% endfor %}
  </div>
</section>

  <section class="testimonial">
    <div class="container flex">
      <div class="testimonial-block">
        <div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable" /></div>
        {% for testimonial in site.data[page.lang].testimonials %}
          <blockquote>
            {{ testimonial.body }}
            <p class="editable author">{{ testimonial.author }}</p>
          </blockquote>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="bottom-cta">
    <h2 class="editable"><strong>Réduisez</strong> la complexité, <strong>optimisez</strong> vos projets<strong>
    </h2>
    <div class="button alt"><a href="https://app.sinra.dev/users/sign_up">Essayer Sinra gratuitement</a></div>
  </section>
</div>

<script>
document.getElementById("open-nav").onclick = function () {
  document.body.classList.toggle("nav-open");
  return false;
};
</script>
