
<div class="content about">

  <section class="features">
    <h2>{{ site.data[site.active_lang].strings.about.innovative_solution }}</h2>
    <p>{{ site.data[site.active_lang].strings.about.result_deep_reflexion}}</p>
  </section>

  <div class="both">
    <section class="about-section bg-white">
        <div class="text">
          <img src="/assets/images/agility-black.png" alt="Agility" class="rounded"  />
          <div class="category-section">{{ site.data[site.active_lang].strings.about.agile_pitfalls }}</div>
          <h2>{{ site.data[site.active_lang].strings.about.time_consuming }}</h2>
          {{ site.data[site.active_lang].strings.about.agile_environment }}
        </div>
    </section>
    <section class="about-section bg-black">
        <div class="text">
        <img src="/assets/images/waterfall.webp" alt="Waterfall" class="rounded"  />
        <div class="category-section">{{ site.data[site.active_lang].strings.about.waterfall_pitfalls }}</div>
        <h2>{{ site.data[site.active_lang].strings.about.loss_of_control }}</h2>
        {{ site.data[site.active_lang].strings.about.waterfall_methodology }}
      </div>
    </section>
  </div>

  <section class="features">
    <h2>{{ site.data[site.active_lang].strings.about.design_to }}</h2>
    <p>{{ site.data[site.active_lang].strings.about.sinra_combines }}</p>
  </section>

  <section class="about-section">
    <div class="container flex">
      <div class="text">
        <h2>{{ site.data[site.active_lang].strings.about.groundbreaking_project }}</h2>
        <p>{{ site.data[site.active_lang].strings.about.conversely_waterfall_methodology }}</p>
      </div>
    </div>
  </section>

</div>
