<div class="contact-box">
	<!-- <form action="https://app.sinra.dev/contact/form" method="post" class="contact-form"> -->
	<form action="http://localhost:3000/contact/form" method="post" class="contact-form">
		<input type="hidden" name="_to" value="support@example.com" />
		<input type="text" name="_gotcha" style="display: none;">

    <label for="name">{{ site.data[site.active_lang].strings.contact.full_name }}</label>
		<input type="text" name="name" id="name" placeholder="{{ site.data[site.active_lang].strings.contact.placeholders.full_name }}" />

		<label for="email">{{ site.data[site.active_lang].strings.contact.email }}</label>
		<input type="email" name="email" id="email" placeholder="{{ site.data[site.active_lang].strings.contact.placeholders.email }}" required />

		<label for="message">{{ site.data[site.active_lang].strings.contact.message }}</label>
		<textarea name="message" id="message" placeholder="{{ site.data[site.active_lang].strings.contact.placeholders.message }}"></textarea>

    <input type="hidden" name="return_url" value="{{ site.url }}/{% if site.active_lang != site.default_lang %}fr/{% endif %}contact-success/" />
		<input type="submit" value="Send Message" />
	</form>
</div>
