<footer>
  <div class="container">
    <div class="footer-columns">
      {% for column in site.data[site.active_lang].footer %}
        <ul class="footer-links">
          {% for item in column.links %}
            <li><a href="{% if item.link contains "http" %}{{ item.link }}{% else %}{{ site.baseurl}}/{{ item.link }}{% endif %}" target="{{ item.target }}">
              {{ item.name }}
            </a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <p class="copyright">&copy; {{ site.time | date: '%Y' }} Sinra</p>
  </div>
</footer>
