<nav>
  {% for item in site.data[site.active_lang].navigation %}
  <a href="{% if item.link contains "http" %}{{ item.link }}{% else %}{{ site.baseurl}}/{{ item.link }}{% endif %}" class="{{ item.klass }} {% if page.url == item.link %}active{% endif %}" target="{{ item.target }}">
    {{ item.name }}
  </a>
  {% endfor %}
  {% for tongue in site.languages %}
    <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %}{% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue }}</a>{%- if forloop.last == false -%}{{" | "}}{{ site.langsep }}{%- endif -%}
  {% endfor %}
</nav>
