<div class="plans">
	{% for plan in site.data[site.active_lang].pricing %}
		<ul class="plan bg-black">
			<li>
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if site.data[site.active_lang].pricing_faq %}
<h2>{{ site.data[site.active_lang].strings.pricing.pricing_faq }}</h2>
	<dl class="faq">
		{% for item in site.data[site.active_lang].pricing_faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
  // Boucle toute les classes .courriel
  var oC = document.getElementsByClassName("courriel");
  var i;
  for (i = 0; i < oC.length; i++) {
    // récupère l'adresse codée
    var sC = oC[i].getAttribute("data-courriel");
    // Remplace le mot « point » par un point
    sC = sC.replace("point", ".");
    // Remplacer le mot « arobas » par @
    sC = sC.replace("arobas", "@");
    // Ajouter l'attribut « href » avec l'adresse
    oC[i].setAttribute("href", "mailto:" + sC);
    // Ajouter l'adresse comme texte du lien
    oC[i].innerHTML = sC;
  }
})
</script>
