<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}" data-theme="dim">
<head>
  {{ partial "head.html" . }}
</head>
<body class="min-h-screen flex flex-col bg-base-100">
  {{ partial "navbar.html" . }}
  <main class="flex-1">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="/assets/js/script.js" defer></script>
  {{ if .Params.load_swiper }}
  <script src="/assets/js/swiper-bundle.min.js" defer></script>
  {{ end }}
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "93cfe335c28c46afb48329f25fc52d54"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
