.testimonial-section {
  background: #f5f5f5;
  margin: var(--section-margin);
  border-radius: var(--border-radius);
}
.testimonial-section .testimonial-block {
  max-width: 750px;
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 450px) {
  .testimonial-section .testimonial-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-section .testimonial-block blockquote {
    -webkit-flex: 1;
    flex: 1;
  }
}
