<!doctype html>
<html>
  <head lang="{{ site.active_lang }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="{ {site.active_lang }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="/assets/css/plan.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="stylesheet" href="/assets/css/testimonial.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/swiper.css">
    {% I18n_Headers %}
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico">
  </head>
  <body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  </body>
</html>
